################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IntegracionInvoicy/.vs/IntegracionInvoicy/FileContentIndex/26056816-22b7-4cda-b344-d172adc88c12.vsidx
/IntegracionInvoicy/.vs/IntegracionInvoicy/FileContentIndex/58dd38c0-2e55-4c76-acd3-c16cedf1f1ad.vsidx
/IntegracionInvoicy/.vs/IntegracionInvoicy/v17/.suo
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/publish/win-x86/D3DCompiler_47_cor3.dll
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/publish/win-x86/IntegracionUI.exe
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/publish/win-x86/IntegracionUI.pdb
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/publish/win-x86/PenImc_cor3.dll
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/publish/win-x86/PresentationNative_cor3.dll
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/publish/win-x86/vcruntime140_cor3.dll
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/publish/win-x86/wpfgfx_cor3.dll
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/win-x86
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/IntegracionUI.dll
/IntegracionInvoicy/IntegracionUI/bin/Release/net7.0-windows/IntegracionUI.pdb
/IntegracionInvoicy/IntegracionUI/obj/Release/net7.0-windows/win-x86/IntegracionUI.csproj.GenerateResource.cache
/IntegracionInvoicy/IntegracionUI/obj/Release/net7.0-windows/win-x86/IntegracionUI.dll
/IntegracionInvoicy/IntegracionUI/obj/Release/net7.0-windows/win-x86/IntegracionUI.pdb
/IntegracionInvoicy/IntegracionUI/obj/Release/net7.0-windows/IntegracionUI.csproj.GenerateResource.cache
/IntegracionInvoicy/IntegracionUI/obj/Release/net7.0-windows/IntegracionUI.dll
/IntegracionInvoicy/IntegracionUI/obj/Release/net7.0-windows/IntegracionUI.pdb
/IntegracionInvoicy/.vs/IntegracionInvoicy/DesignTimeBuild/.dtbcache.v2
/IntegracionInvoicy/.vs/IntegracionInvoicy/FileContentIndex/4b9150b0-0d75-4614-afcf-39b329c66566.vsidx
/IntegracionInvoicy/.vs/IntegracionInvoicy/FileContentIndex/8a3b50fd-c816-4c74-9121-9c2d3c003c93.vsidx
/IntegracionInvoicy/.vs/IntegracionInvoicy/FileContentIndex/caf2f914-e9dc-4956-821b-11f90911dae0.vsidx
/IntegracionInvoicy/.vs/IntegracionInvoicy/FileContentIndex/ccd5f398-38e6-4007-b855-f4269a19f265.vsidx
/IntegracionInvoicy/.vs/IntegracionInvoicy/v17/.futdcache.v2
/IntegracionInvoicy/.vs/ProjectEvaluation/integracioninvoicy.metadata.v7.bin
/IntegracionInvoicy/.vs/ProjectEvaluation/integracioninvoicy.projects.v7.bin
/IntegracionInvoicy/IntegracionUI/Properties/PublishProfiles/FolderProfile.pubxml.user
*.vsidx
